{% extends "base.html" %}
{% block content %}
    <div id="game">
        <canvas id="myCanvas" width="1000" height="700" style="border:1px solid black;">
        </canvas>
    </div>
    <script>
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        var blocks = [];
        var mousepos;
        var paddle;
        var balls = [];
        var maxspeed = 4;

        function drawGame() {
            updatePhysics();
            updatePaddle();
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            for (i=0;i<blocks.length;i++) {
                blocks[i].creator()
            };
            paddle.creator();
            for (i=0;i<balls.length;i++) {
                balls[i].creator()
            };
            setTimeout(drawGame, 5);
        };

        function updatePhysics() {
            for (i=0;i<blocks.length;i++) {
                var vector = blocks[i].vector;
                blocks[i].x = blocks[i].x + vector[0];
                blocks[i].y = blocks[i].y + vector[1];
            };
            for (i=0;i<balls.length;i++) {
                var vector = balls[i].vector;
                balls[i].x = balls[i].x + vector[0];
                balls[i].y = balls[i].y + vector[1];
                checkCollision(balls[i]);
            };
        };

        function updatePaddle() {
            paddle.x = mousepos? mousepos.x - (paddle.width/2) : paddle.x;
        };

        function checkCollision(obj) {
            if (obj.x - obj.radius <= 0) {obj.vector = [Math.abs(obj.vector[0]), obj.vector[1]];}; // wall collisions
            if (obj.y - obj.radius <= 0) {obj.vector = [obj.vector[0], Math.abs(obj.vector[1])]};
            if (obj.y + obj.radius >= canvas.height) {obj.vector = [obj.vector[0], -Math.abs(obj.vector[1])]};
            if (obj.x + obj.radius >= canvas.width) {obj.vector = [-Math.abs(obj.vector[0]), obj.vector[1]]};

            if (obj.y > paddle.y - obj.radius && obj.y < paddle.y) { // paddle collision
                if (obj.vector[1] > 0 && obj.x + obj.radius / 2 > paddle.x && obj.x - obj.radius / 2 < paddle.x + paddle.width) {
                    var vector = obj.vector;
                    var angle = (paddle.x + paddle.width / 2) - obj.x;
                    if (Math.abs(angle) < 15) {angle = 0};
                    var yvector = vector[1] < maxspeed? -(vector[1] + 0.2) : -vector[1];
                    obj.vector = [vector[0] - angle / 30, yvector];
                };
            };

            for (i=0;i<blocks.length;i++) { // block collision
                if (checkClose(obj, blocks[i])) {
                    var quad = checkQuadrant(obj, blocks[i]);
                    if (checkHit(obj, blocks[i], quad)) {
                        blocks.splice(i, 1);
                        bounce(obj, quad);
                        break;
                    };
                };
            };
        };

        function checkHit(obj, block, quadrant) {
            if (quadrant == "top" || quadrant == "bottom") {
                var y = quadrant == "top" ? block.y : block.y + block.height;
                for (x=block.x;x<block.x + block.width;x++) {
                    if (checkDistance(x, y, obj.x, obj.y) <= obj.radius) {
                        return true
                    };
                };
            } else {
                var x = quadrant == "left" ? block.x : block.x + block.width;
                for (y=block.y;y<block.y + block.height;y++) {
                    if (checkDistance(x, y, obj.x, obj.y) <= obj.radius) {
                        return true
                    };
                };
            };
            return false;
        };

        function bounce (obj, quadrant) {
            var vector = obj.vector;
            if (quadrant == "bottom") {
                obj.vector = [vector[0], Math.abs(vector[1])];
            } else if (quadrant == "top") {
                obj.vector = [vector[0], -Math.abs(vector[1])];
            } else if (quadrant == "right") {
                obj.vector = [Math.abs(vector[0]), vector[1]];
            } else {
                obj.vector = [-Math.abs(vector[0]), vector[1]];
            };
        };

        function checkClose(ball, block) {
            blockcenter = [block.x + block.width / 2, block.y + block.height / 2];
            centertoedge = checkDistance(block.x, block.y, blockcenter[0], blockcenter[1]);
            if (checkDistance(ball.x, ball.y, blockcenter[0], blockcenter[1]) < centertoedge + ball.radius) {
                return true
            };
            return false
        };

        function checkDistance(x1, y1, x2, y2) {
            return Math.sqrt(Math.pow(x2 - x1, 2) + Math.pow(y2 - y1, 2));
        };

        function checkQuadrant(ball, block) {
            var top = block.y;
            var bottom = block.y + block.height;
            var left = block.x;
            var right = block.x + block.width;
            if (ball.y > bottom && ball.x < block.x + block.width / 2) { // bottom left side
                var b = left + bottom;
                if (ball.y > -1 * ball.x + b) {return "bottom"}; // check line y > -1*x + b
                return "left";
            }
            else if (ball.y > bottom) { // bottom right side
                var b = bottom - right;
                if (ball.y < ball.x + b) {return "right"}; // check line y > x + b
                return "bottom";
            }
            else if (ball.y < top && ball.x < block.x + block.width / 2) { // top left side
                var b = top - left;
                if (ball.y > ball.x + b) {return "left"};
                return "top";
            }
            else if (ball.y < top) { // top right side
                var b = top + right;
                if (ball.y < -1 * ball.x + b) {return "top"};
                return "right"
            }
            else if (ball.x > right) { // right side
                return "right"
            }
            else if (ball.x < left) { // left side
                return "left"
            };
        };

        function getPosition(e, istouch) {

            //this section is from http://www.quirksmode.org/js/events_properties.html
            var targ;
            if (!e)
                e = window.event;
            if (e.target)
                targ = e.target;
            else if (e.srcElement)
                targ = e.srcElement;
            if (targ.nodeType == 3) // defeat Safari bug
                targ = targ.parentNode;

            if (istouch) {
                e = e.changedTouches[0];
            };

            // jQuery normalizes the pageX and pageY
            // pageX,Y are the mouse positions relative to the document
            // offset() returns the position of the element relative to the document
            var x = e.pageX - $(targ).offset().left;
            var y = e.pageY - $(targ).offset().top;

            return {"x": x, "y": y};
        };
        // now just make sure you use this with jQuery
        // obviously you can use other events other than click
        $(myCanvas).mousemove(function(event) {
            // jQuery would normalize the event
            mousepos = getPosition(event);
        });
        canvas.ontouchmove = function (event) {
            mousepos = getPosition(event, true);
        };

        function rect(x, y, w, h, vector, creator, ispaddle) {
            this.x = x;
            this.y = y;
            this.width = w;
            this.height = h;
            this.vector = vector;
            this.creator = function() {creator(this.x, this.y, this.width, this.height)};
            if (!ispaddle) {blocks.push(this);};
        };

        function circle(x, y, r, vector, creator) {
            this.x = x;
            this.y = y;
            this.radius = r;
            this.vector = vector;
            this.creator = function() {creator(this.x, this.y, this.radius)};
            balls.push(this);
        };

        var redRect = function(x, y, w, h) {
            ctx.fillStyle = "red";
            ctx.fillRect(x, y, w, h);
        };

        var blueRect = function(x, y, w, h) {
            ctx.fillStyle = "blue";
            ctx.fillRect(x, y, w, h);
        };

        var yellowBall = function(x, y, r) {
            ctx.beginPath();
            ctx.fillStyle = "yellow";
            ctx.arc(x, y, r, 0, 2 * Math.PI);
            ctx.fill()
        };

        for (i=1;i<21;i++) {
            var block = new rect(50 + (i * 41), 50, 40, 20, [0, 0], redRect);
        };

        for (i=1;i<20;i++) {
            var block = new rect(Math.round(Math.random() * 600), Math.round(Math.random() * 600), 40, 20, [0, 0], redRect);
        };

        paddle = new rect(400, 600, 100, 30, [0, 0], blueRect, true);

        var ball = new circle(200, 400, 20, [1, 1], yellowBall);

        drawGame();
    </script>
{% endblock %}