{% extends "base.html" %}
{% block content %}
    <div style="width:10%;float:left;height:20%;"></div>
    <div id="newgame" style="text-align:right;width:10%;float:right;height:20%;">
        <label for="sizefield">Size: </label>
        <input type="text" name="fieldsize" size=2 id="sizefield">
        <br>
        <label for="minefield">Mines: </label>
        <input type="text" name="minefield" size=2 id="minefield">
        <br>
        <input type="submit" name="submit" id="submit" value="New Game">
    </div>
    <div id="gamediv" style="width:100%;margin-left:auto;margin-right:auto;">
        Select a new game.<br>
        The size must be between 2 and 50.<br>
        Number of mines must be between 1 and the size squared.
    </div>
    <script>
        var SIZELIMIT = 51;
        var DEFAULTMINES = 15;
        var DEFAULTSIZE = 10;
        var body = document.getElementById("body");
        body.oncontextmenu=function(){return false};
        var gamediv = document.getElementById("gamediv");
        var minefield = document.getElementById("minefield");
        minefield.value = DEFAULTMINES;
        var sizefield = document.getElementById("sizefield");
        sizefield.value = DEFAULTSIZE;
        var submitfield = document.getElementById("submit");
        var gamefield;
        var pointstocheck = [];
        var checkbox = document.createElement("input");
        checkbox.setAttribute("type", "checkbox");
        checkbox.onchange = function() {flagging = checkbox.checked};
        var flagging = false;
        var won = false;
        var lost = false;

        function addbr(obj) {obj.appendChild(document.createElement("br"))};

        function clearElement(obj) {while (obj.firstChild) {obj.removeChild(obj.firstChild)}};

        function setCookie(cookiename, cookievalue) {
            var dt = new Date();
            dt.setFullYear(dt.getFullYear() + 1);
            document.cookie = cookiename + "=" + cookievalue + ";expires=" + dt
        };

        function getCookie(cookiename) {
            var cookie = document.cookie.split("; ");
            for (i=0;i<cookie.length;i++) {
                var cooki = cookie[i].split("=")
                if (cooki[0] == cookiename) {
                    if (cooki.length == 2){return cooki[1]}
                    else {return ""};
                }
        }};

        function removeCookie(cookiename) {
            document.cookie = cookiename + "=;expires=January 1, 1970 00:00:00"
        }

        submitfield.onclick = function() {
            if (minefield.value < Math.pow(sizefield.value, 2)
                && minefield.value > 0
                && sizefield.value > 1
                && sizefield.value < SIZELIMIT) {
                    startGame();
                }
            else {alert("0 < Mines < size^2; 1 < Size < " + SIZELIMIT)}
        };

        function stringify(arr) {
            var s = [];
            for (i=0;i<arr.length;i++) {
                s.push(arr[i].join(""))
            };
            return s.join(",")
        };

        function unstringify(arr) {
            var a = arr.split(",");
            for (i=0;i<a.length;i++) {
                a[i] = a[i].split("");
            };
            return a
        };

        function saveGame() {
            var s = stringify(gamefield);
            setCookie("field", s);
        };

        function setMines(arr, minecount) {
            var s = stringify(arr);
            var s = s.split("");
            while (minecount > 0) {
                var rand = Math.floor(Math.random()*s.length);
                if (s[rand] != "," && s[rand] != "*") {
                    s[rand] = "*";
                    minecount--
                };
            };
            s = s.join("");
            return unstringify(s)
        };

        function startGame() {
            won = false;
            lost = false;
            var size = sizefield.value;
            var minecount = minefield.value;
            gamefield = [];
            for (i=0;i<size;i++) {
                var subfield = [];
                for (q=0;q<size;q++) {
                    subfield.push(".");
                };
                gamefield[i] = subfield;
            };
            gamefield = setMines(gamefield, minecount);
            saveGame();
            drawGame();
        };

        function drawGame() {
            clearElement(gamediv);
            while (pointstocheck.length > 0) {
                var checkpoint = pointstocheck.pop();
                if (gamefield[checkpoint[0]][checkpoint[1]] == "." || gamefield[checkpoint[0]][checkpoint[1]] == "="){
                    selectCell(checkpoint[0], checkpoint[1]);
                };
            };
            won = checkWon();
            var table = document.createElement("table");
            table.style.marginLeft="auto";
            table.style.marginRight="auto";
            var tbody = document.createElement("tbody");
            for (i=0;i<gamefield.length;i++) {
                (function(i) {
                    var tabler = document.createElement("tr");
                    for (q=0;q<gamefield.length;q++) {
                        (function(q) {
                            var char = gamefield[i][q];
                            var tabled = document.createElement("td");
                            if (char == "." || char == "*") {
                                tabled.onclick = function(){
                                    onClick(i, q);
                                };
                                tabled.style.backgroundColor="grey";
                                tabled.oncontextmenu = function() {
                                    onClick(i, q, true);
                                };
                                if (lost) {
                                    tabled.onclick = function(){return true;};
                                    if (char == "*") {
                                        tabled.style.backgroundColor="red";
                                        var node = document.createTextNode(char);
                                        tabled.appendChild(node);
                                    };
                                };
                                if (won) {
                                    tabled.onclick = function(){return true;};
                                    tabled.style.backgroundColor="green";
                                    var node = document.createTextNode(char);
                                    tabled.appendChild(node);
                                };

                            }
                            else if (char == "+" || char == "_") {
                                tabled.onclick = function(){
                                    unFlag(i, q);
                                };
                                tabled.oncontextmenu = function() {
                                    unFlag(i, q, true);
                                };
                                tabled.style.backgroundColor="blue";
                            }
                            else {
                                if (char != "0") {
                                    var node = document.createTextNode(char);
                                    tabled.appendChild(node);
                                }
                                tabled.style.backgroundColor="white";
                            };
                            tabled.style.width="30px";
                            tabled.style.textAlign="center";
                            tabler.appendChild(tabled);
                        })(q)
                    };
                    tbody.appendChild(tabler);
                    tabler.style.height="30px";
                })(i)
            };
            table.appendChild(tbody);
            gamediv.appendChild(table);
            if (won) {alert("Congratulations! You won!")}
            else if (lost) {return true;}
            else {gamediv.appendChild(checkbox);};
        };

        function onClick(i, q, rclick) {
            if (flagging || rclick) {
                var char = gamefield[i][q];
                if (char == "*") {gamefield[i][q] = "+"}
                else {gamefield[i][q] = "_"};
                saveGame();
                drawGame();
            }
            else {
                selectCell(i, q);
                drawGame();
            };
        };

        function unFlag(i, q, rclick) {
            if (flagging || rclick) {
                var char = gamefield[i][q];
                if (char == "+") {gamefield[i][q] = "*"}
                else {gamefield[i][q] = "."};
                saveGame();
                drawGame();
            }
        };

        function selectCell(x, y) {
            if (x < 0 || y < 0 || x >= gamefield.length || y >= gamefield.length) {
                return false
            };
            var value = gamefield[x][y];
            if (value == "*") {
                lost = true;
                removeCookie("field");
                return
            };
            var points = [[x-1, y-1], [x-1, y],[x-1, y+1],[x, y-1],
                [x, y+1], [x+1, y-1], [x+1, y], [x+1, y+1]];
            for (i=0;i<points.length;i++) {
                var x1 = points[i][0]
                var y1 = points[i][1]
                if (x1 < 0 || y1 < 0 || x1 >= gamefield.length || y1 >= gamefield.length) {
                    points[i] = "c";
                    continue;
                };
                var q = gamefield[x][y];
                if (q != "*" && q != "." && q != "+" && q != "_") {points[i] = "c"};
            };

            var count = 0;
            for (i=0;i<points.length;i++) {
                if (points[i] == "c") {continue};
                count = count + checkCell(points[i][0], points[i][1]);
            };
            gamefield[x][y] = count;
            saveGame();
            if (count == 0) {
                for (i=0;i<points.length;i++) {
                    if (points[i] == "c") {continue};
                    pointstocheck[pointstocheck.length] = [points[i][0], points[i][1]];
                };
            };
        };

        function checkCell(x, y) {
            if (x < 0 || y < 0 || x >= gamefield.length || y >= gamefield.length) {
                return 0
            };
            if (gamefield[x][y] == "*" || gamefield[x][y] == "+") {return 1};
            return 0;
        };

        function checkWon() {
            var result = true
            for (i=0;i<gamefield.length;i++) {
                for (q=0;q<gamefield.length;q++) {
                    if (gamefield[i][q] == "." || gamefield[i][q] == "_") {
                        result = false;
                    };
                };
            };
            return result;
        };

        function resumeGame() {
            gamefield = unstringify(getCookie("field"));
            drawGame()
        };

        var cookie = document.cookie.split("; ");
        var found = false
        for (i=0;i<cookie.length;i++) {
            cooki = cookie[i].split("=");
            if (cooki[0] == "field" && cooki.length > 1 && cooki[1].length > 3) {found = true}
        }
        if (found) {resumeGame()}
    </script>
{% endblock %}