{% extends "base.html" %}
{% block content %}
    This is it. The big page, still under construction. It'll be incredibly awesome when it's finished, though. So incredible.<br><br><br><br>
    <br><br><br><form action="" method="post" name="myform">
        {{ form.hidden_tag() }}
        <p>
            Name: {{ form.poster(size=20) }}<br>
        </p>
        <p>Message: {{ form.posted(size=60) }}</p>
        <p><input type="submit" value="Post!"></p>
        <a href="/">back</a>
    </form>
    <br><br><br>
    You better put your real name in!
{% endblock %}